body {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  background-color: peachpuff;

}
#name {
  color:BROWN
  font-size: 20px;
}

#gtkm {
  color:mediumpurple
}

#hi{
  color:crimson
}
